NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
APP_URL=https://www.sciolytracker.com
DEFAULT_ADMIN_EMAILS=aaravsinha002@gmail.com
ALLOW_PUBLIC_SIGNUP=false
CRON_SECRET=change-me
NEXT_PUBLIC_SCHOOL_NAME="Obra D Tompkins High School"
TRACKED_SCHOOL_ALIASES=Tompkins High School,Tompkins HS
SCIOLY_ELO_ENDPOINT=
ENABLE_DEMO_MODE=false
